@font-face{
    font-family: BOTW;
    src:url(../../fuentes/BOTW.ttf);
}

@font-face{
    font-family:HyliaSerif;
    src:url(../../fuentes/HyliaSerif.otf);
}

#title{
    font-family: BOTW;
    font-size: 80px;
    text-align: center;
    color:rgb(253,255,224);
}

h1{
    font-family:HyliaSerif;
    color: rgb(71, 58, 52);
}

#historia{
    font-family:HyliaSerif;
    text-align: center;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20 px;
    text-align: justify;
}

body{
    background-image: url(../img/background1.png);
}

main{
    background-image: url(../img/background2.png);
    border: 30px solid transparent;
    border-width: 10px;
    border-image: url(../img/sheikah-language-h.png) 50 50 repeat;
    padding:20px;
    margin-bottom: 20px;
}

iframe{
    border: 30px solid transparent;
    border-width: 40px;
    border-image: url(../img/video_border.png) 50 50; 
}

footer{
    font-style: oblique;
    background-image: url(../img/background2.png);
    font-weight: bold;
    padding: 5px;
    border: 30px solid transparent;
    border-width: 10px;
    border-image: url(../img/sheikah-language-h.png) 50 50 repeat;
}

footer p{
    text-align: center;
}

.divider{
    width: 40%;
    height: 30%;
}

div{
    text-align: center;
}

/*Navigation Bar*/
nav{
    width:100%;
    height: 80px;
}

nav ul{
    list-style:none;
    padding:0;
    margin:0;
}

nav li{
    width:25%;
    background-color: blanchedalmond;
}

nav ul li{
    float:left;
    margin-top:20px
}

nav ul li a{
    color:rgb(71, 58, 52);
    display:block;
    text-decoration:none;
    font-size: 20 px;
    text-align: center;
    padding:10px;
    font-weight: bold;
    font-family: HyliaSerif;
}

nav ul li a:hover{
    background-color:rgb(229, 219, 203);
}

nav ul li ul{
    background-color: beige;
}

div{
    text-align: center;
}

iframe{
    border-radius: 20px;
}

@media (max-width: 1100px) AND (orientation:portrait) {
    #title{
        font-size: 50px;
    }

    body {
        font-size: small;
    }
    
    main{
        overflow-y: hidden;
    }

    ul{
        display:block;
    }

    ul li{
        width:100%;
        position:static;
        margin-bottom:10px;
    }

    a:hover{
        background-color:rgb(229, 219, 203);
    }

    iframe{
        width: 300px;
        height: 215px;
        border-width: 20px;
        border-radius: 10px;
    }

    img{
        width: 50%;
        height: 50%;
    }

}
